<!DOCTYPE html>
<head>
<meta charset="utf-8">
  <title>{{ name_film }} - Расписание</title>
 </head>
<body>
<div>
кинотеатр ВЕСНА 
<br/>
Зал_1 - {{ name_film }} 12:30<br/>
Зал_2 - {{ name_film }} 15:30<br/>
Зал_3 - {{ name_film }} 18:30<br/>

кинотеатр Ударник 
<br/>
Зал_1 - {{ name_film }} 21:30<br/>
Зал_2 - {{ name_film }} 00:30<br/>

</body>
</html>